# ==========================================
# AI GEC Model Training Environment Variables
# ==========================================

# Hugging Face Access Token (for uploading checkpoints/models to HF Hub)
HF_TOKEN=

# Weights & Biases API Key (for tracking train losses and evaluation metrics)
WANDB_API_KEY=
