# ==========================================
# Backend API Environment Variables (FastAPI)
# ==========================================

# Google Gemini API Key
GEMINI_API_KEY=

# Server Configurations
HOST=0.0.0.0
PORT=8000
